<html>
    <!-- <link rel="stylesheet" href="ciudades.component.css"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<body>

<div>
    <table class="text-justify py-5 col-4">
        <thead>
            <tr>
                <th>#</th>
                <th >NOMBRE</th>
                <th scope="col" width=150px>PAIS</th>
                <th scope="col" width=150px>CODIGO</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let ciudad of ciudades; index as i"> 
                <th class="col">{{i+1}}</th>
                <th scope="col" (click)="show=true">{{ciudad.nombre}}</th>
                <th scope="col">{{ciudad.pais}}</th>
                <th scope="col">{{ciudad.codigo}}</th>
            <div *ngIf="show">{{ciudades[i].nombre}} {{ciudades[i].pais}} {{ciudades[i].codigo}} {{ciudades[i].clima.temperatura | cambioGrados:'F'}} {{ciudades[i].clima.viento}} {{ciudades[i].clima.precipitaciones | percent }}</div>
                
            </tr>
            
            <br>
            <!-- <tr *ngFor = "let ciudad of ciudades; index as i; let par=even;" [ngClass]="{filaPar:par}">
                <th class="col">{{i+1}}</th> 
                <th class="col">{{ciudad.nombre}}</th>
                <th scope="col">{{ciudad.pais}}</th>
                <th scope="col">{{ciudad.codigo}}</th>
            </tr> -->
        <tbody>
    </table>
</div>

<br>
    <div *ngIf="ciudades.length!=0; else noHay">
        Listado de cuidades
    </div>
    <ng-template #noHay> No hay cuidades para mostrar</ng-template>
<br><hr>
<form class="col-4">
    <div class="form-group">
      <label for="datosCiudad" placeholder="Ciudad">Ciudad</label>
      <input type="text" class="form-control" #datosCiudad>
     </div>
    <div class="form-group">
        <label for="datosPais">Pais</label>
        <input type="text" class="form-control" #datosPais>
      </div>
    <div class="form-group">
      <label for="datosCodigo">Codigo</label>
      <input type="text" class="form-control" #datosCodigo>
    </div>
    <div>
    <!-- <button type="button" class="btn btn-primary" (click)=agregarCiudad(datosCiudad,datosPais,datosCodigo)>Guardar</button> -->
    </div>
  </form>

</body>
</html>