<!-- GetALL -->
<form>
    <div class="form-group">
        <label >Haz click en el boton y te muestro todas las ciudades</label><br>
        <button type="button" class="btn btn-primary" (click)="cambiarShow()">Mostrar Ciudades</button><br>
    </div>
<hr>
<!-- GetOne -->
 <div class="form-group">
    <label >Haz click en el boton y te muestro la ciudad correspondiente al codigo</label><br>
    <input type="text" #codigo2>
</div>
<button type="button" class="btn btn-primary" (click)="ciudadPorCodigo(codigo2.value)">Mostrar Ciudad</button><br>
<hr>
<!-- ADD -->
<form>
    <div class="form-group">
      <label >Nombre de la Ciudad</label><br>
      <input type="text" #ciudad>
    </div>
    <div class="form-group">
        <label >Nombre del Pais</label><br>
        <input type="text" #pais>
    </div>
    <div class="form-group">
        <label >Codigo</label><br>
        <input type="text" #codigo>
    </div>
</form>
<button type="button" class="btn btn-primary" (click)="nuevaCiudad(ciudad.value,pais.value,codigo.value)">Añadir Ciudad</button>
<hr>
<!-- EDIT -->
<div class="form-group">
    <label >Haz click en el boton y edito la ciudad del Codigo que me envies con los valores nuevos</label><br>
    <form>
        <div class="form-group">
            <label >CodigoAntiguo</label><br>
            <input type="text" #codigoan>
        </div>
        <div class="form-group">
          <label >Nombre de la Ciudad</label><br>
          <input type="text" #ciudadN>
        </div>
        <div class="form-group">
            <label >Nombre del Pais</label><br>
            <input type="text" #paisN>
        </div>
        <div class="form-group">
            <label >Codigo</label><br>
            <input type="text" #codigoN>
        </div>
    </form>    
</div>
<button type="button" class="btn btn-primary" (click)="editarCiudad(codigoan.value,codigoN.value,ciudadN.value,paisN.value)">Editar Ciudad</button><br>
<hr>
<!-- DELETE -->
<div class="form-group">
    <label >Haz click en el boton y borro la ciudad correspondiente al codigo</label><br>
    <input type="text" #codigo4>
</div>
<button type="button" class="btn btn-primary" (click)="borrarCiudad(codigo4.value)">Borrar Ciudad</button>
</form>
