<div class="col-6 mt-2">
<form>
    <div class="form-group">
        <label >Formulario para insertar, modificar o borrar un disco</label><br>
      <label >Titulo</label><br>
      <input type="text" #titulo>
    </div>
    <div class="form-group">
        <label >Interprete</label><br>
        <input type="text" #interprete>
    </div>
    <div class="form-group">
        <label >Año de Publicacion</label><br>
        <input type="text" #anyoPublicacion>
    </div>
    <div class="form-group">
        <label >Identificador</label><br>
        <input type="text" #id>
    </div>
</form>
<button type="button" class="btn btn-primary " (click)="anyadir(id.value, titulo.value, interprete.value, anyoPublicacion.value)">Insertar</button>
<button type="button" class="btn btn-primary m-3" (click)="modificar(id.value, titulo.value, interprete.value, anyoPublicacion.value)">Modificar</button>
<button type="button" class="btn btn-primary " (click)="borrar(id.value)">Borrar</button>
</div>
<div *ngFor="let disco of discos"> 
    <p *ngIf="discos!=null" >
        Titulo: {{disco.titulo}}<br>
        Interprete: {{disco.interprete}}<br>
        Año de Publicación: {{disco.anyoPublicacion}}<br>
    </p>
    <hr>
</div>